.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# data
/data
telemetryAnalysis/telemetryAnalysis.cpp

# test
test/index.html
# test/original-index.html
test/full-compressed-index.html
test/script.js
test/style.css

test/charTest.*
test/uart
test/simpleplot.*

test/timerTest.*

# telemetryAnalysis
test/openFileDialog.cpp
test/openFileDialog.exe